@model IEnumerable<StrAgent.Models.Tarif>

@{
    ViewData["Title"] = "TarifList";
    Layout = "_LayoutPolicyholder";
}

<h1>TarifList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conditions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conditions)
            </td>
            <td>
                <a asp-action="TarifDetails" asp-route-id="@item.Id">TarifDetails</a>
            </td>
        </tr>
}
    </tbody>
</table>
