@model IEnumerable<StrAgent.Models.Dogovor>

@{
    ViewData["Title"] = "DogovorList";
    Layout = "_LayoutAgent";
}

<h1>DogovorList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Klient
            </th>
            <th>
                Agent
            </th>
            <th>
                Tarif
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Described)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klient.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarif.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Described)
            </td>
            <td>
                <a asp-action="EditDogovor" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DogovorDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteDogovor" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
